.Navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font: 18px;
    color: #49557e
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 25px;

}