.Navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font: 18px;
    color: #49557e;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 25px;

}
.Navbar button{
    font-size: 15px;
    border: 1px solid #49557e;
    background: transparent;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
}
.Navbar button:hover{
    background-color: #fff4f2;
}
.Navbar .navbar-menu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;

}
.search-icon{
    position: relative;
}
/* .search-icon .dot{ */
    /* position: absolute;
    top: -5px; 
    right: -5px; 
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
} */
.dot {
    position: absolute;
    top: 12px; /* Adjust as needed */
    right: 268px; /* Adjust as needed */
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;}
    @media (max-width: 1050px)
    {
        .navbar .log{
            width: 140px;
        }
        .navbar-menu{
            gap: 20px;
            font-size: 17px;
        }
        .nav-right {
            gap: 30px;
        };
        .navbar-right img{
            width: 22px;
        }
        .navbar-right bottom{
            padding: 8px 25px;
        };

    }

    @media (max-width: 900px)
    {
        .navbar .log{
            width: 120px;
        }
        .navbar-menu{
            gap: 15px;
            font-size: 16px;
        }
        .nav-right {
            gap: 20px;
        }
        .navbar-right img{
            width: 20px;
        }
        .navbar-right bottom{
            padding: 7px 20px;
            font-size: 15px;
        }
    }

    @media (max-width: 750px)
    {
              
        .navbar-menu{
            display: none;;
        }
    }
