@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
margin: 0;
padding: 0;
 box-sizing: border-box;
 font-family: outfit;
}
body{
height: 100vh;
}
a{
text-decoration: none;
color : inherit;
}
.app{
    width: 80%;
    margin: auto;
}
.search-icon{
    position: relative;
}
.search-icon .dot{
    position: absolute;
    min-width: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color : tomato
}
